@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

:root {
    --main-font-family: "Poppins", sans-serif;
    --color1: #09011f;
    --color2: #0d2863;
    --color3: #173e81;
    --color4: #245da5;
    --color5: #3481cb;
    --color6: #4aa6e6;
    --color7: #81d9f0;
    --fontColor1: #FFFFFF;
    --fontColor2: #616264;
    --fontColor3: #81b4e5;
}

* {
    font-family: var(--main-font-family);
}

body {
    background-image: radial-gradient(var(--color3), var(--color1));
}

.navbar {
    background-color: transparent;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-topic {
    text-align: left;
    padding-left: 50px;
    font-size: 30px;
    width: 40%;
    color: var(--fontColor1);
    font-weight: 800;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    width: 60%;
    color: var(--fontColor1);
    font-weight: 800;
    gap: 100px;
    font-size: 20px;
    justify-content: right;
    padding-right: 50px;
}

.navbar-item {
    cursor: pointer;
}

body {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}

.simulation {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
}

.overview-simulations {
    width: 20%;
    height: 100vh;
    background-color: transparent;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 40px;
    color: white;
}

.main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.overview-item {
    margin-top: 25px;
    padding: 20px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.overview-item-name {
    margin-bottom: 20px;
}

.overview-heading {
    font-size: 20px;
    font-weight: 800;
}

.overview-item-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.overview-item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview-item-details-buttons {
    margin-top: 20px;
}

.overview-item-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#item-button {
    border-radius: 15px;
    background-color: var(--color6);
    color: blacK;
}

#item-button:hover {
    background-color: white;
}

button {
    margin: 2px;
    width: 70px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 40px;
}

.form-heading {
    font-size: 20px;
    font-weight: 800;
    color: var(--fontColor1);
    text-align: left;
}

.form-input-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#form-button {
    justify-content: center;
    width: 278px;
    border-radius: 20px;
    background-color: var(--color6);
    color: blacK;
    border-color: black;
}

#form-button:hover {
    background-color: white;
}

#input-long {
    height: 20px;
    width: 250px;
}

#input-short {
    height: 20px;
    width: 180px;
    border-radius: 5px;
}

.simulation-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.canvas-diagrams {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.canvas-section {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.canvas-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

.line-charts {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.pie-chart {
    display: flex;
    flex-direction: row;
}

.signin-right-side, .register-right-side {
    background-image: radial-gradient(var(--color3), var(--color1));
}



