@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

:root {
    --main-font-family: "Poppins", sans-serif;

    --color1: #0B0C10;
    --color2: #585f65;
    --color3: #8f9193;
    --color4: #66FCF1;
    --color5: #45A29E;
}

* {
    font-family: var(--main-font-family);
}

.navbar {
    background-color: var(--color1);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-topic {
    text-align: left;
    padding-left: 50px;
    font-size: 30px;
    width: 40%;
    color: var(--color4);
    font-weight: 800;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    width: 60%;
    color: var(--color4);
    font-weight: 800;
    gap: 100px;
    font-size: 20px;
    justify-content: right;
    padding-right: 50px;
}

.navbar-item {
    cursor: pointer;
}

body {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    background-color: #221f43;
}

.simulation {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
}

.overview-simulations {
    width: 20%;
    height: 100vh;
    background-color: var(--color1);
    overflow-y: scroll;
    padding: 20px;
    padding-top: 40px;
}

.main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
}

.overview-item {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.overview-item-name {
    margin-bottom: 20px;
}

.overview-item-details {
    margin-top: 10px;
    font-size: 12px;
}

.overview-item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview-item-details-buttons {
    margin-top: 20px;
}

button {
    margin: 2px;
    width: 70px;
}

.form {
    padding-top: 40px;
    padding-left: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-heading {
    font-size: 20px;
    font-weight: 800;
    color: var(--color5);
    text-align: left;
}

.form-input-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#form-button {
    justify-content: center;
    width: 278px;
    border-radius: 40px;
    background-color: var(--color5);
    color: blacK;
    border-color: black;
}

#input-long {
    height: 20px;
    width: 250px;
    /*background-color: var(--color3);*/

}

#input-short {
    height: 20px;
    width: 180px;
    border-radius: 5px;
}

.simulation-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.canvas-diagrams {
    display: flex;
    flex-direction: row;
}

.canvas {
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.line-charts {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.pie-chart {
}


