@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

:root {
    --main-font-family: "Poppins", sans-serif;
    --color1: #a07e68;
    --color2: #1a2c20;
    --color3: #f6f0ec;
    --color4: #92dfeb;
    --fontColor1: white;
    --fontColor2: #1a2c20;
    --fontColor3: #55c0cd;
    --fontColor4: #39a2b7;
    --fontColor5: #0e6fb9;
}

* {
    font-family: var(--main-font-family);
}

body {
    font-family: var(--main-font-family);
}

.navbar {
    background-color: transparent;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
    background-size: 100%;
    color: white;
}

#background1 {
    background-image: url("/pexels-guillaume-meurice-modifiedVersion.jpg");
}

#background2 {
    background-image: url("/pexels-mike-1174138-modifiedVersion.jpg");
}

.overview-item-image{
    width: 250px;
    border-radius: 20px;
}

.navbar-topic {
    text-align: left;
    padding-left: 50px;
    font-size: 40px;
    width: 40%;
    color: var(--fontColor1);
    font-weight: 800;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    width: 60%;
    color: var(--fontColor1);
    font-weight: 800;
    gap: 100px;
    font-size: 20px;
    justify-content: right;
    padding-right: 50px;
}

.navbar-item {
    cursor: pointer;
}

body {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}

.simulation {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.overview-simulations {
    width: 100%;
    padding-top: 40px;
    overflow-y: scroll;
    color: var(--fontColor2);
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.overview-item {
    flex: 0 0 450px;
    margin-top: 0px;
    width: 450px;
    height: 500px;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: var(--color2) 1px solid;*/
    border-radius: 25px;
    box-shadow: 5px 10px 15px #888888;
}

.overview-item-name {
    margin-bottom: 20px;
    color: var(--fontColor2);
    font-size: 20px;
    font-weight: 800;
}

.overview-heading {
    display: flex;
    font-size: 20px;
    font-weight: 800;
    padding-left: 100px;
    color: var(--fontColor2);
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.overview-item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    height: 1200px;
}

.overview-item-details {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.overview-item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview-item-details-buttons {
    margin-top: 0px;
}

.overview-item-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    margin: 2px;
    width: 70px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 40px;
}

.form-heading {
    font-size: 20px;
    font-weight: 800;
    color: var(--fontColor2);
    text-align: center;
}

.form-input-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container-button {
    width: 100%;
    display: flex;
    margin-top: -10px;
    justify-content: center;
    align-items: flex-start;
}

#form-button {
    justify-content: center;
    width: 278px;
    border-radius: 20px;
}

#input-long {
    height: 20px;
    width: 250px;
}

#input-short {
    height: 20px;
    width: 180px;
    border-radius: 5px;
}

.simulation-section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.canvas-diagrams {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.canvas-heading, .charts-heading {
    font-size: 35px;
    font-weigth: 800;
    color: #223622;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.canvas-section {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
}

.canvas-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.line-charts {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
}

.line-chart {
    width: 500px;
}

.pie-chart {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signin-right-side, .register-right-side {
    background-color: white;
}

.link-to-register {
    display: flex;
}

.link-to-register-grid {
    align-items: center;
    justify-content: center;
}





